################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AplicacionDesktop/obj/Debug/TempPE
